* {
	box-sizing: border-box;
}

body {
	background-image: radial-gradient(circle at 4.62% 11.92%, #a3ded8 0, #a1dedd 3.57%, #a0dde2 7.14%, #a1dde7 10.71%, #a2dcec 14.29%, #a5dbef 17.86%, #a8daf3 21.43%, #add9f5 25%, #b2d7f7 28.57%, #b8d6f8 32.14%, #bfd4f8 35.71%, #c6d2f8 39.29%, #cdd1f7 42.86%, #d3cff5 46.43%, #dacdf2 50%, #e0cbef 53.57%, #e6caeb 57.14%, #ebc8e6 60.71%, #f0c7e2 64.29%, #f4c7dd 67.86%, #f7c6d7 71.43%, #f9c6d2 75%, #fac6cd 78.57%, #fbc6c7 82.14%, #fbc7c2 85.71%, #fac7be 89.29%, #f8c9b9 92.86%, #f5cab6 96.43%, #f2cbb3 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.empty {
	height: 150px;
	width: 150px;
	margin: 10px;
	border: groove 3px black;
	background: white; 
	box-shadow: 0px 5px 15px rgb(131, 131, 106);
}

.fill {
	background-image: url('https://source.unsplash.com/random/150x150');
	height: 145px;
	width: 145px;
	cursor: pointer;
}

.hold {
	border: solid 5px #ccc;
}

.hovered {
	background-color: #333;
	border-color: white;
	border-style: dotted;
}

@media (max-width: 800px) {
	body {
		flex-direction: column;
	}
}